body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #bdcefb;
  --secondary: #6a8de8;
  --tertiary: #275783;
}
header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(./Images/img1.png) no-repeat center center / cover;
    overflow: hidden;
    background-attachment: fixed;
}

#scene{
  height: 100%;
}

.layer1{
  left: 60% !important;
  top: 50% !important;
}

.layer2{
  top: 50% !important;
}

.layer3{
  left: 30% !important;
}

.nav-menu {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  padding: 30px;
  transition: all 0.7s;
}

.menu-item {
  font-size: 13px;
  letter-spacing: 1px;
  color: #eee;
  transition: color 0.5s;
}

.nav-active {
  color: #70aed2;
}

.menu-item:hover {
  color: #70aed2;
}

.line1,
.line2,
.line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar {
  padding: 5px 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.banner-heading {
  animation-name: anim;
  animation-duration: 2s;
}

.banner-par {
  animation-name: anim;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes anim {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.mission-1,
.mission-3, .mission-5 {
  background: var(--tertiary);
  border-bottom: 2px solid white;
}

.mission-2, .mission-4 {
  background: rgb(106, 141, 232);
  background: linear-gradient(
    180deg,
    rgba(106, 141, 232, 1) 0%,
    rgba(39, 87, 131, 1) 58%
  );
  border-bottom: 2px solid white;
}

.underline {
  width: 150px;
  border: 3px solid #eee;
  margin: auto;
}

.fromLeft {
  animation-name: fromLeft;
  animation-duration: 3s;
}

.fromRight {
  animation-name: fromRight;
  animation-duration: 3s;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: var(--primary);
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 15px;
  border-bottom: 1px solid black;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: var(--secondary);
  color: white;
}
.accordion:focus {
  /* border: none; */
  border-bottom: 1px solid black;
  outline: none;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow-y: scroll;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.contact {
  background: linear-gradient(
      105deg,
      rgba(21, 31, 32, 1) 0%,
      rgba(21, 31, 32, 0.95) 50%,
      transparent 50%
    ),
    url(images/form-img.jpeg) center center no-repeat;
}

.input {
  background: transparent;
  border-color: transparent;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  transition: all 0.8s;
}
.input:focus {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #fff;
  border-bottom: 2px solid #f5593d;
}
.submit-button {
  background: #f5593d;
  color: #eee;
  transition: all 0.3s;
}

.submit-button:hover {
  background: #f9793d;
  transform: translateY(-3px);
}

.footer{
  background-color: var(--tertiary);
}

.label {
  color: #777;
  display: block;
  margin-top: -70px;
  margin-left: 4px;
  font-size: 13px;
  transition: all 0.3s;
}

.input:placeholder-shown + .label {
  transform: translate(20px, 20px);
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 992px) {
  .contact {
    background: linear-gradient(rgba(21, 31, 32, 1), rgba(21, 31, 32, 0.95));
  }

  .contact-form {
    width: 80%;
    margin: auto;
  }
}

.footer-link {
  color: #eee;
  font-size: 13px;
  transition: all 0.3s;
}

.footer-link:hover {
  color: #70aed2;
  text-decoration: none;
}
